body {
    background-color: #1D1B1D;
    color: #BFAB0A; 
    font: normal 100% tahoma, georgia, sans-serif;
}

a {
    color: #DB9C58; 
    text-decoration: none;
}
a:hover {text-decoration: underline;}


#header {
    color: #f29027;
}

#header span {
    background-color: #127260;
    padding: 5px;
}

#outside {margin: auto; width: 95%; max-width: 800px}

#logo {
    margin-bottom: 15px;
    padding: 0px; 
    background: url(valle2.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: auto;
}

#logo h1 {
    padding-top: 140px;
    padding-bottom: 4px;
    /* margin: 0; padding: 0;  */ 
    color: #f29027;
    text-align: left;
    /* letter-spacing: -1px; */
    font-variant: small-caps;
    font-size: x-large;
}

#logo span {
    background-color: #127260;
}

#topnav {text-align: left; font-size: medium;}

#footer {text-align: right;}
